.slick-dots li button:before {
  color: white;
}
.slick-dots .slide-active button:after {
  color: white;
}
.all-slider {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  .slider-pagination {
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
}
.play-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  .play-sec-text1 {
    font-size: 60px;
    color: #ffffff;
    font-family: "Inter", sans-serif !important;
    font-weight: 700;
  }
  .play-sec-text2 {
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 40px;
    font-family: "Inter", sans-serif !important;
    font-weight: 500;
  }
  .play-start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: yellow;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 72px;
    width: fit-content;
    .play-start-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .play-start-btn img {
    transition: transform 0.3s ease;
  }

  .play-start-btn:hover img {
    transform: rotate(360deg) scale(1.2);
  }
  .play-start-text {
    font-size: 18px;
    font-weight: 900;
    font-family: "Inter", sans-serif !important;
    font-weight: 700;
  }
}

.main-slider {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  // padding: 10px;
  height: 65vh;
  width: 52%;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  .front-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    .front {
      padding: 48px 60px;
      width: 100%;
      height: 100%;
      .question {
        font-size: 47px;
        line-height: 65px;
        text-align: center;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bottom-text {
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .back-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    .back {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      .img-container {
        height: 75%;
        width: 100%;
        .slider-img {
          width: 100%;
          height: 100%;
        }
      }
      .img-text {
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
      }
    }
  }
  &.flip {
    transition: all 0.5s linear;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    .front-wrapper {
      backface-visibility: hidden;
      z-index: 2;
    }
    .back-wrapper {
      z-index: 1;
    }
  }
}

.bottom-text {
  display: flex;
  text-align: center;
}
.last-slide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  .last-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .success-tick {
      width: 100%;
    }
    .success-img-container {
      width: 260px;
    }
    .success-text {
      color: #ffffff;
      font-size: 30px;
      font-weight: 600;
    }
    .play-again-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background: yellow;
      padding: 20px 30px;
      cursor: pointer;
      border-radius: 72px;
    }

    .play-again-btn img {
      transition: transform 0.3s ease;
    }

    .play-again-btn:hover img {
      transform: rotate(360deg) scale(1.2);
    }
    .play-again-text {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

@media (max-width: 1439px) {
  .main-slider {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .main-slider {
    width: 65%;
    .front-wrapper {
      .front {
        padding: 18px;
        .question {
          font-size: 30px;
          line-height: 44px;
        }
        .bottom-text {
        }
      }
    }

    .back-wrapper {
      .back {
        .img-container {
          .slider-img {
          }
        }
        .img-text {
          font-size: 17px;
          line-height: 32px;
          padding: 12px;
        }
      }
    }
  }
}
@media (max-width: 769px) {
  .play-sec {
    width: 100%;
    .play-sec-text1 {
      font-size: 48px;
    }
    .play-sec-text2 {
      font-size: 18px;
    }
  }
  .main-slider {
    width: 100%;
    .front-wrapper {
      .front {
        padding: 18px;
        .question {
          font-size: 30px;
          line-height: 44px;
        }
        .bottom-text {
        }
      }
    }

    .back-wrapper {
      .back {
        .img-container {
          .slider-img {
          }
        }
        .img-text {
          font-size: 17px;
          line-height: 32px;
          padding: 12px;
        }
      }
    }
  }
  .last-slide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    .last-slide {
      .success-img-container {
        width: 150px;
      }
      .success-text {

        text-align: center;
      }
      .play-again-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: yellow;
        padding: 20px 30px;
        cursor: pointer;
        border-radius: 72px;
      }
  
      .play-again-btn img {
        transition: transform 0.3s ease;
      }
  
      .play-again-btn:hover img {
        transform: rotate(360deg) scale(1.2);
      }
      .play-again-text {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
@media (max-width: 600px) {
  .play-sec {
    width: 100%;
    .play-sec-text1 {
      font-size: 48px;
    }
    .play-sec-text2 {
      font-size: 18px;
    }
  }
  .main-slider {
    width: 100%;
    height: 50vh;
    .front-wrapper {
      .front {
        padding: 18px;
        .question {
          font-size: 30px;
          line-height: 44px;
        }
        .bottom-text {
        }
      }
    }

    .back-wrapper {
      .back {
        .img-container {
          .slider-img {
          }
        }
        .img-text {
          font-size: 17px;
          line-height: 32px;
          padding: 12px;
        }
      }
    }
  }
  .last-slide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    .last-slide {
      .success-img-container {
        width: 150px;
      }
      .success-text {

        text-align: center;
      }
      .play-again-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: yellow;
        padding: 20px 30px;
        cursor: pointer;
        border-radius: 72px;
      }
  
      .play-again-btn img {
        transition: transform 0.3s ease;
      }
  
      .play-again-btn:hover img {
        transform: rotate(360deg) scale(1.2);
      }
      .play-again-text {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

