.bg-img {
  position: relative;
  .main-bg-img {
    width: 100%;
    height: 100vh;
    animation: zoomAnimation 10s infinite alternate;
  }
  .header-items {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px;
    z-index: 1;
    .left-item{
        display: flex;
        gap: 5px;
        .img-container{
            width: 42px;
            height: 42px;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            img{
                width: 32px;
                height: 18px;
            }

        }
        .company-name{
            font-size: 14px;
            color: #ffffff;
        }

    }
    .right-item{

        .sound-icon{
            width: fit-content;
            height: fit-content;
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
        }
        .sound-icon:hover{
            background: rgba(255, 255, 255, 0.5); 
            width: fit-content;
            height: fit-content;
            padding: 8px;
            border-radius: 5px;
        }
    }
  }
  .slider-container{
    position: absolute;
    // transform: translate(-50%, -50%);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
