.left-arrow-container{
    position: absolute;
    top: 45%;
    width: 17.5%;
    display: flex;
    justify-content: center;
    z-index: 2;
    .arrow-icon-container{
        background-color: yellow;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
    .arrow-icon-container:hover{
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
        box-shadow: 0px 0px 10px 2px yellow;
    }
    .no-active{
        background-color: #d4d4d4;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.arrow-hide{
    display: none;
}

@media (max-width:769px){
    .left-arrow-container{
        top: 105%;
        .arrow-icon-container{
            width: 48px;
            height: 48px;
        }
        .no-active{
            width: 48px;
            height: 48px;
        }
    }

}